.button{
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
  &__added-to-card{
      background-color: burlywood;
      cursor:unset
  

  }
  &__add-to-card{
    background-color: green;

  }
}
