.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 10px 10px;
    border: 1px solid #083074;
    border-radius: 5px;
}
.btn__close{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // height: 20px;
    background: #083074;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}