.modal-container {
    height:  100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .modal-content {
       border-radius:  12px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       flex-basis: 25vw;
       padding: 15px;
       font-size: 20px;
       &__header{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
       }
       &__close-btn{
        position: relative;
        right: 20px;
        cursor: pointer;
            &:hover {
            opacity: 1;
         }

         &::before, &::after {
            position: absolute;
            // left: 15px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #333;
         }

         &::before {
            transform: rotate(45deg);
         }

         &::after {
            transform: rotate(-45deg); 
         }
       }
   }
    .btn-container{
        padding-top: 15px;
        display: flex;
        justify-content: space-around;

    }
    .btn-ok{
background-color: green;
    }
    .btn-cancel{
        background-color: aqua;

    }
    .btn-ok-second{
        background-color: darkgoldenrod;

    }
    .btn-cancel-second{
        background-color: firebrick;

    }