// body{
//     margin: 0;
// }
.header{
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    background-color: green;
    // width: 100px;
    height: 100px;
    &__logo{
        position: absolute;
        left: 0;
        margin: 15px 25px ;
        height: 70px;
    }
    &__likeListLogo{
        // margin-left: 1000px;


    }
}
.svg-logo{
    cursor: pointer;
    width: 40px;
    margin: 25px 25px ;


}